﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Office Calendar</h1>
    <p>Could you please check availiable resources on the left nav bar?</a>.</p>
    <p>Calendar on the left will show you when resource are online!</a>.</p>
</div>
